* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: $body-font;
    color: $text-color-light;
    background-color: $bg-ligth;
    padding: 10px;
    scrollbar-width: none;
    will-change: filter;
    max-width: 1600px;
    margin: 0 auto;
}

.body::-webkit-scrollbar {
    display: none;
}

h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: $text-color-light-fade;
    margin-bottom: 30px;
}

p{
    line-height: normal;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: $link-color-light;
    cursor: ne-resize;
    transition: all 0.1s;
}

a:hover{
    color: $hover-link-color-light;
    text-decoration: underline;
    -webkit-text-decoration-color: $hover-link-color-light; /* Safari */  
      text-decoration-color: $hover-link-color-light;
}

ul{

    margin-top: 0px;
    margin-bottom: 40px;

    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

header, section{
    padding: 30px;
}

section{
    padding-top: 5vh !important;
    padding-bottom: 15vh !important;
    padding: 30px;
    position: relative;
    margin: 0 auto;
    clear:both;
}

#greeting{
    padding-top: 20vh !important;
}

#about{
    .column {
        
        padding-right: 40px;
    }
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0;
}
  
.column {
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
    padding: 0;
}




@media screen and (max-width: 600px) {

    html{
        font-size: 12px;
    }

    header, footer, section{
        padding: 10px !important;
    }
    section{
        width: 100%;
        padding-bottom: 10vh !important;
    }

    h2{
        font-size: 1rem;
        font-weight: 400;
        color: $text-color-light-fade;
        margin-bottom: 15px;
    }

    #greeting{
        padding-top: 25vh;
    }
    .column {
        -ms-flex: 100%; 
        flex: 100%;
        max-width: 100%;
        padding: 0 10px;
    }
}
