 
#work{

    padding: 0;
    width: 100%;

    .row {
        display: -ms-flexbox; 
        display: flex;
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
        padding: 0 10px;
    }
      
    .column {
        -ms-flex: 50%; 
        flex: 50%;
        max-width: 50%;
        padding: 0 10px;
    }
      
    .column img {
        margin-top: 20px;
        vertical-align: middle;
        width: 100%;

        border-radius: 10px;
        transition: all ease-in-out 0.2s;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.05);
        -moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.05);
        box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.05);  
    }

    .column img:hover{
        transform: scale3d(1.01, 1.01, 1.01) translate3d(0px, 0px, 0px);
        transition: all ease-in-out 0.2s;

        -webkit-box-shadow: 0px 0px 20px 0px rgba(122,122,122,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(122,122,122,0.2);
        box-shadow: 0px 0px 20px 0px rgba(122,122,122,0.2);   
    }

}

.inactive{
    transform: scale3d(0.9, 0.9, 0.9) translate3d(0px, 200px, 0px);
    
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -webkit-filter:blur(5px);
    filter:blur(5px);
    opacity: 0.5;

    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.active{
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.inactive2{

    transform: scale3d(0.9, 0.9, 0.9) translate3d(0px, -100px, 0px);
    
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -webkit-filter:blur(5px);
    filter:blur(5px);
    opacity: 0.5;

    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 800px) {
    #work{
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        } 
    }
}
  
@media screen and (max-width: 600px) {
    #work{
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
}