@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$body-font: 'Karla', sans-serif;

$text-color-light: #353638;
$text-color-light-fade: rgb(227, 227, 227);
$link-color-light: #6a6a6a;
$hover-link-color-light: #3b3c45;